nav
    .container-fluid
        background: rgb(240, 240, 240)
        .navbar-header
            button
                background: rgb(220, 220, 220)
                span
                    background: rgb(100, 100, 100)
        .row
            .col-xs-12
                .logo
                    display: block
                    width: 20%
                    margin: 10px auto 10px auto
            .col-xs-6
                padding: 2%
                .nav-links
                    padding: 20px