
// ###### Nav Begin ######
nav
    .container-fluid
        background: rgb(240, 240, 240)
        .row
            .col-xs-6
                margin-bottom: -50px
                .logo
                    display: block
                    width: 40%
                    margin: 10px auto 20px auto
        .navbar-header
            button
                background: rgb(220, 220, 220)
                span
                    background: rgb(100, 100, 100)
        .navbar-collapse
            padding: 0px 2% 0px 2%
            .nav
                .nav-item
                    .nav-links
                        color: rgb(100, 100, 100)
                        padding: 10px 20px 10px 20px
                        font-weight: bold
                        text-decoration: none
                    .nav-links:hover
                        background: rgb(100, 100, 100)
                        color: rgb(225, 200, 255)
// ###### Nav End ######



// ###### Main Begin ######
.main
    .container-fluid
        margin-top: -21px
        background: rgb(220, 220, 220)
    
// ###### Main End ######



// Footer start
footer
    .container-fluid
        background: rgb(190, 220, 255)
        .row
            padding: 20px
            .col-xs-8
                color: rgb(100, 100, 100)
            .col-xs-4
                padding: 5px
                border-radius: 20px
                background: rgb(240, 240, 240)
                .col-xs-6
                    padding: 0px
                    padding-bottom: 10px
                    ul
                        margin: 0px
                        padding: 0px
                        li
                            list-style: none
                            h5
                                padding: 5px 20px 0px 20px
                            .nav-links
                                border-radius: 10px
                                padding: 5px 20px 5px 20px
                                text-decoration: none
                                color: rgb(100, 100, 100)
                            .nav-links:hover
                                background: rgb(170, 170, 170)
                                color: rgb(190, 220, 255)



        .copy
            padding: 0px
            .col-xs-12
                color: rgb(100, 100, 100)
// Footer End